[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
selenium = "*"
requests = "*"
pyyaml = "*"
pyenchant = "*"
"pyqt5" = "*"
cython = "*"
qdarkstyle = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.6"
